.mainscreen {
  padding: 0 80px;
  background: url('../img/main_screen.png') no-repeat 50% / cover;
  &__header {
    max-width: 1150px;
    padding: 30px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
  }
  &__logo {
    width: 266px;
    height: 50px;
    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__address {
    color: rgb(120, 123, 133);
    font-style: normal;
  }
  &__email {
    color: rgb(120, 123, 133);
    text-decoration: none;
    transition: all 0.15s ease;
    &:hover {
      color: rgb(141, 199, 61);
    }
  }
  &__phone {
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: all 0.15s ease;
    &:hover {
      color: rgb(141, 199, 61);
    }
  }
  &__messengers {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__messenger {
    width: 50px;
    height: 50px;
    background: rgba(120, 123, 133, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      path {
        transition: all 0.15s ease;
      }
    }
    &:hover {
      svg {
        path {
          fill: rgb(141, 199, 61);
        }
      }
    }
    &:first-of-type {
      margin-right: 10px;
    }
  }
  &__wrapper {
    position: relative;
    padding-left: 310px;
    padding-top: 100px;
    padding-bottom: 250px;
  }
  &__picture {
    position: absolute;
    top: 0;
    right: 0;
    width: 50vw;
    height: auto;
    max-width: 865px;
    max-height: 787px;
    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__title {
    max-width: 970px;
  }
  &__subtitle {
    max-width: 390px;
    z-index: 1;
    position: relative;
  }
  &__list {
    margin-top: 25px;
  }
  &__btn {
    margin-top: 45px;
    margin-left: 95px;
  }
}
